﻿@{
    Layout = null;
    @model Test_webpush.Models.ModelPushNotification
}
<!DOCTYPE html>
<html>
<head>
    <title>Просмотр подписок</title>
</head>
<body>
    <script type="text/javascript" src="/Scripts/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script>
        this.window.onload = function () {
            console.log("scipts start");
            $(".btnSendNotification").click(function () {
                console.log("button send clicked");
                let v = $(this).val();
                fetch('/Home/SendSingle', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ 'id': v })
                });
            });
        };
    </script>
    <div class="container-fluid">
        <table class="table">

            <thead class="thead-light">
                <tr>
                    <th scope="col">Endpoint подписчика</th>
                    <th scope="col">Тип устройства (браузера)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model.Subscription)
                {
                    <tr>
                        <td>
                            @{
                                var user = s.endpoint.Substring(0, 70) + "....";
                            }
                            @user
                        </td>
                        <td>
                            @s.type
                        </td>
                        <td>
                            <button id="btn123" class="btnSendNotification" type="button" value="@s.Id">
                                Отправить уведомление
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
