﻿@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Страница для подписки на рассылку</title>
</head>

<body>
    <script type="text/javascript" src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/tools.js"></script>
    <script src="/Scripts/webpush2.js"></script>

    <div>
        <h4>ОЧЕНЬ ПОЛЕЗНЫЙ САЙТ</h4>
    </div>
    <button id="btnSubscribe" type="button" hidden>
        Отправить тестовое сообщение на эту страницу
    </button>
    <br />
    @Html.ActionLink("Администрирование рассылок (пока очень простое)", "Admin")
</body>
</html>

