﻿
@{
    Layout = null;
    @model Test_webpush.Models.UserPushSubscription
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тест уведомления</title>
</head>
<body>
    <div>
        <h2>Должно появиться уведомление</h2><br />
        Endpoint  = @Model.endpoint<br /><br />
        p256dh = @Model.p256dh<br /><br />
        auth = @Model.auth<br />
    </div>
</body>
</html>
