﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Страница для подписки на рассылку</title>
</head>

<body>
    <script type="text/javascript" src="/Scripts/jquery-3.3.1.js"></script>


    <script>

        APP_KEY = "BMjIW6cW8AWs7zSTXiMjzwoCz5xu1Mke4qIL7pZEx9qQOsa3b3AEqN_YWNmSFaID0J0nlF8Ljq9ESoLTyLP5X1Q";

        function urlBase64ToUint8Array(base64String) {
            const padding = '='.repeat((4 - base64String.length % 4) % 4);
            const base64 = (base64String + padding)
                .replace(/\-/g, '+')
                .replace(/_/g, '/');

            const rawData = window.atob(base64);
            const outputArray = new Uint8Array(rawData.length);

            for (let i = 0; i < rawData.length; ++i) {
                outputArray[i] = rawData.charCodeAt(i);
            }
            return outputArray;
        }


        // сомнительно - проверить (app.js web-push=book=-master)
        function getSWRegistration() {
            console.log("getSWRegistration");
            console.log(navigator.serviceWorker.getRegistration());
            return navigator.serviceWorker.getRegistration();
        }


        function registerServiceWorker() {
            return navigator.serviceWorker.register('/scripts/service-worker.js')
                .then(function (registration) {
                    console.log('Service worker successfully registered.');
                    return registration;
                })
                .catch(function (err) {
                    console.error('Unable to register service worker.', err);
                });
        }

        function askPermission() {
            return new Promise(function (resolve, reject) {
                const permissionResult = Notification.requestPermission(function (result) {
                    resolve(result);
                });

                if (permissionResult) {
                    permissionResult.then(resolve, reject);
                }
            })
                .then(function (permissionResult) {
                    if (permissionResult !== 'granted') {
                        throw new Error('We weren\'t granted permission.');
                    }
                    else { console.log("Permission granted"); }
                });
        }





        function subscribeUserToPush() {
            return navigator.serviceWorker.register('/scripts/service-worker.js')
                .then(function (registration) {
                    const subscribeOptions =
                    {
                        userVisibleOnly: true,
                        applicationServerKey: urlBase64ToUint8Array(APP_KEY)
                    };

                    return registration.pushManager.subscribe(subscribeOptions);
                })
                .then(function (pushSubscription) {
                    console.log('Received PushSubscription: ', JSON.stringify(pushSubscription));
                    return pushSubscription;
                }).
                then(function (pushSubscription) {
                    fetch('Save', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(pushSubscription)
                    })
                });
        }

        /*
        function UNregisterServiceWorker() {
            return navigator.serviceWorker.register('/scripts/service-worker.js')
                .then(function (serviceWorkerRegistration) {
                    console.log('Service worker successfully registered for UNREGISTRATION');
                    serviceWorkerRegistration.pushManager.getSubscription()
                        .then(function (subscription) {
                            if (subscription == null) {return}
                            subscription.unsubscribe().then(function (successful) {
                                //console.log("You've successfully unsubscribed");
                            }).catch(function (e) {
                                //console.log(" Unsubscription failed");
                            })
                        })

                })
        }*/



        this.window.onload = function () {
            // проверка возможностей браузера ------------------------
            if (!('serviceWorker' in navigator)) {
                console.log("Service Worker isn't supported on this browser, disable or hide UI.");
                // Service Worker isn't supported on this browser, disable or hide UI.
                return;
            }

            if (!('PushManager' in window)) {
                // Push isn't supported on this browser, disable or hide UI.
                console.log("Push isn't supported on this browser, disable or hide UI.");
                return;
            }

            console.log("Push supported");

            // регистрация service worker ---------------------------
            registerServiceWorker();
            //UNregisterServiceWorker();

            // запрос разрешения на подписку ------------------------
            askPermission();

            // подписываем пользователя на рассылку наших сообщений
            // и отправляем данные подписки на сервер
            subscribeUserToPush();
        }

    </script>


    <div>
        ОЧЕНЬ ПОЛЕЗНЫЙ САЙТ
    </div>
</body>
</html>
